<h1>Listing marks</h1>

<table>
  <thead>
    <tr>
      <th>School</th>
      <th>Student</th>
      <th>Standard</th>
      <th>Subject</th>
      <th>Test</th>
      <th>Marks</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @marks.each do |mark| %>
      <tr>
        <td><%= mark.school_id %></td>
        <td><%= mark.student_id %></td>
        <td><%= mark.standard_id %></td>
        <td><%= mark.subject_id %></td>
        <td><%= mark.test_id %></td>
        <td><%= mark.marks %></td>
        <td><%= link_to 'Show', mark %></td>
        <td><%= link_to 'Edit', edit_mark_path(mark) %></td>
        <td><%= link_to 'Destroy', mark, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mark', new_mark_path %>
