<p id="notice"><%= notice %></p>

<p>
  <strong>School:</strong>
  <%= @mark.school_id %>
</p>

<p>
  <strong>Student:</strong>
  <%= @mark.student_id %>
</p>

<p>
  <strong>Standard:</strong>
  <%= @mark.standard_id %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @mark.subject_id %>
</p>

<p>
  <strong>Test:</strong>
  <%= @mark.test_id %>
</p>

<p>
  <strong>Marks:</strong>
  <%= @mark.marks %>
</p>

<%= link_to 'Edit', edit_mark_path(@mark) %> |
<%= link_to 'Back', marks_path %>
