<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script>
  $(function () {
    $('.nav.nav-tabs.nav-append-content ').tabs()
  })
</script>
<div class="panel panel-primary" style="position:absolute;left:400px;top:50px;border-color:#dddddd">
       <ul class="nav nav-tabs nav-append-content">
            <li class="active"><a href="#tab1" data-target="#tab1" data-toggle="tab">Current</a></li>
            <li><a href="#tab2" data-target="#tab2" data-toggle="tab">Homeworks</a></li>
            <li><a href="#tab3" data-target="#tab3" data-toggle="tab">Study Material</a></li>
            <li><a href="#tab4" data-target="#tab4" data-toggle="tab">Question Papers</a></li>
          </ul> <!-- /tabs -->

          <div class="tab-content">
            <div class="tab-pane active" id="tab1">
              <li>Newtons Laws done in todays class,be prepared for Law of Conservation of Momemtum tomorrow &nbsp;&nbsp; 10th October</li>
              <li>Solved Problems from Kinematics in todays class,new chapter Dynamics will start tomorrow &nbsp;&nbsp; 9th October</li>
              <li>Differential analysis of distance,velocity and acceleration completed,lets solve problems tomorrow &nbsp;&nbsp; 8th October</li>
              <li>Constant Speed and Acceleration covered today,tomorrow lets discuss on change of velocity and acceleration with time &nbsp;&nbsp; 10th October</li>
            </div>
   
            <!-- /tabs -->
            <div class="tab-pane" id="tab2">
              <li>Solve problems 1-5 from Chapter 5 Dynamics &nbsp;&nbsp; 10th October</li>
              <li>Solve all unsolved problems from Chapter 4 Kinematics &nbsp;&nbsp; 9th October</li>
              <li>Read about time varying velocity and acceleration from Chapter 4 Kinematics &nbsp;&nbsp; 9th October</li>
            </div>

            <!-- /tabs -->
            <div class="tab-pane" id="tab3">
              <p><a href="#">Click here to view the study material for Newtons Law of Motion</a></p>
               <p><a href="#">Click here to view the study material for Time varying velocity and acceleration</a></p>
               <p><a href="#">Click here to view the study material for Constant velocity and acceleration</a></p>
            </div>

           <div class="tab-pane" id="tab4">
              <p><a href="#">Click here to view the last year's question paper for Unit Test 1</a></p>
            </div>
          </div> <!-- /tab-content -->
