<% provide(:title, "Sign in") %>
<div class="container">
  <div id="login-wraper">
    <%= form_for(:session, url: sessions_path) do |f| %>
    <legend>Sign in to <span class="blue">ChalkSpace</span></legend>
 
     <div class="body">
      <%= f.label :email %>
      <%= f.text_field :email,style:"width:350px;" %>

      <%= f.label :password %>
      <%= f.password_field :password,style:"width:350px;"%>
      </div>
     
     <div class="footer">
      <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
     </div>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>
