<div class="tabbable tabs-left"> <!-- Only required for left/right tabs -->
 	<ul class="nav nav-tabs">
 	  <li class="active"><a href="#tab1" data-toggle="tab">Notices</a></li>
 	  <li><a href="#tab2" data-toggle="tab">Student Information</a></li>
 	</ul>
 	<div class="tab-content">
 	  <div class="tab-pane active" id="tab1">
 	  	<div class="container">
	 	 		<p>No notices here</p>
	 		</div>
	 	</div>

 		<div class="tab-pane" id="tab2">
 			<div class="container">
				<table class="table table-striped table-hover">
					<tr>
						<th>ID</th>
		 	 			<th>Name</th>
		 	 			<th>DOB</th>
		 	 		</tr>
						<% for student in @students %>
							<tr>
								<td><a class="btn btn-primary" data-toggle="collapse" data-target=<%="#rowforstud"+student.student_id%>> <%= student.student_id %></a></td>
								<td> <%= student.student_first_name + " " + student.student_last_name%></td>
								<td> <%= student.city %></td>
								<td> <%= student.date_of_birth %></td>
							</tr>
							<tr>
								<td style=";" colspan=4>
									<div id=<%="rowforstud"+student.student_id%> class="collapse out"> Marks! IN COURSE:
										<% marks = Mark.find_by_student_id(student.student_id) %>
										<%= marks.course_id  %>
										<%= marks.marks  %>
									</div>
								</td>
							</tr>
						<% end %>
				</table>
			</div>
	 	</div>
	</div>
<div>

HERE BE DRAGONS
