<% provide(:title, 'Events') %>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
   <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
   <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
     <title>ChalkSpace | <%= yield(:title) %></title>
  </head>
   <style>
  </style>
  <body>
    
      <div class="row demo-samples" style="position:relative;left:-150px;bottom:0;">
        <div class="col-md-4">
           <div class="row demo-navigation" style="position:relative;left:10px;bottom:0;">
            <div class="col-md-6" >
              <div class="btn-toolbar" style="position:relative;left:23px;bottom:0;">
                
              </div>
          <div class="demo-col pull-left" style="position:relative;top:-10px;left:5px">
          <ul class="nav nav-list nav-list-vivid">
            <li class="nav-header">Events</li>
            <li class="active" >
              <a href="#fakelink">
                View All Events
              </a>
            </li>
            <li>
              <a href="<%= new_event_path %>">
                Add a new event
              </a>
            </li>
           <li>
              <a href="/calendar">
                Calendar
              </a>
            </li>
            
          </ul>
        </div> <!-- /nav-list -->
    <div style="position:absolute;width:600px;height:450px;left:390px;top:10px;">
<table class="table table-striped" >
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
</div>
</body>
</html>
