<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :student_school_id %><br>
    <%= f.text_field :student_school_id %>
  </div>
  <div class="field">
    <%= f.label :student_standard_id %><br>
    <%= f.text_field :student_standard_id %>
  </div>
  <div class="field">
    <%= f.label :student_id %><br>
    <%= f.text_field :student_id %>
  </div>
  <div class="field">
    <%= f.label :student_name %><br>
    <%= f.text_field :student_name %>
  </div>
  <div class="field">
    <%= f.label :student_address %><br>
    <%= f.text_area :student_address %>
  </div>
  <div class="field">
    <%= f.label :student_city %><br>
    <%= f.text_field :student_city %>
  </div>
  <div class="field">
    <%= f.label :student_state %><br>
    <%= f.text_field :student_state %>
  </div>
  <div class="field">
    <%= f.label :student_phone %><br>
    <%= f.text_field :student_phone %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
