<p id="notice"><%= notice %></p>

<p>
  <strong>Student school:</strong>
  <%= @student.student_school_id %>
</p>

<p>
  <strong>Student standard:</strong>
  <%= @student.student_standard_id %>
</p>

<p>
  <strong>Student:</strong>
  <%= @student.student_id %>
</p>

<p>
  <strong>Student name:</strong>
  <%= @student.student_name %>
</p>

<p>
  <strong>Student address:</strong>
  <%= @student.student_address %>
</p>

<p>
  <strong>Student city:</strong>
  <%= @student.student_city %>
</p>

<p>
  <strong>Student state:</strong>
  <%= @student.student_state %>
</p>

<p>
  <strong>Student phone:</strong>
  <%= @student.student_phone %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
