<% provide(:title, 'About') %>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ChalkSpace | <%= yield(:title) %></title>
  </head>
  <body>
 <div class="container">
   <div id="about-wraper">
 <!--
 <h1 style="position:absolute;top:83px;left:520px;color:#fff">About Us</h1>
 -->
 <legend><strong style="color:#34495e;">About Us</strong></legend>
 <p>We are just a bunch of three kids trying to <strong>revolutionize the way</strong> schools interact with students.ChalkSpace is the online personal space for students where they can see all the stuff related to their school let it be homeworks,upcoming exams or notices,study material,past question papers etc.Chalkspace also acts a management tool for Schools to manage all the things that involve running a school and also provides a great interface for teachers to keep track of everything along with the cool analytics of grades,attendence etc of each and every student.</p>
</div>
</div>
</body>
</htmk>
