<% provide(:title, 'Analytics') %>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
   <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
   <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
     <title>ChalkSpace | <%= yield(:title) %></title>
  </head>
  <body>
    
      <% if signed_in? %>
      <div class="row demo-samples" style="position:relative;left:-150px;bottom:0;">
        <div class="col-md-4">
           <div class="row demo-navigation" style="position:relative;left:10px;bottom:0;">
            <div class="col-md-6" >
              <div class="btn-toolbar" style="position:relative;left:23px;bottom:0;">
                <div class="btn-group">
                  <%= link_to image_tag("icons/Mortarboard@2x.png", alt: "Rails", width:"30px",height:"22px"),academics_path,class:"btn btn-primary",name:"academics",value:"courses" %>
                  <%= link_to image_tag("icons/Watches@2x.png", alt: "Rails", width:"22px",height:"22px"),timetable_path,class:"btn btn-primary",name:"academics",value:"timetable" %>
                  <%= link_to image_tag("icons/Calendar@2x.png", alt: "Rails", width:"22px",height:"22px"),"/calendar",class:"btn btn-primary" %>
                  <%= link_to image_tag("icons/Clipboard@2x.png", alt: "Rails", width:"22px",height:"22px"),'#',class:"btn btn-primary" %>
                  <%= link_to image_tag("icons/Mail@2x.png", alt: "Rails", width:"21px",height:"22px"),root_path,class:"btn btn-primary" %>
                  <%= link_to image_tag("icons/Graph@2x.png", alt: "Rails", width:"22px",height:"22px"),analytics_path,class:"btn btn-primary active" %>
                </div>
              </div>
          <div class="demo-col pull-left" style="position:relative;top:-10px;left:5px">
          <ul class="nav nav-list nav-list-vivid">
            <li class="nav-header">Analytics</li>
            <li>
              <a href="#fakelink">
                Overall
              </a>
            </li>
            <li>
              <a href="#fakelink">
                Mathematics
              </a>
            </li>
            <li class="active">
              <a href="#fakelink">
                Physical Sciences
              </a>
            </li>
            <li>
              <a href="#fakelink">
                Biological Sciences
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#fakelink">
                Hindi
              </a>
            </li>
            <li>
              <a href="#fakelink">
                English
              </a>
            </li>
            <li>
              <a href="#fakelink">
                Programming
              </a>
            </li>
          </ul>
        </div> <!-- /nav-list -->
      <h2 align="center">Analytics</h2>
      <% else %>
      <div class="center hero-unit">
      <h1>Welcome to the ChalkSpace</h1>

      <h2>
      This is the home page for the
       <a href="http://railstutorial.org/">ChalkSpace</a>
        sample application.<br>
     </h2>
     <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-success" %>
     </div>
     <% end %>
   
  </body>
</html>
