<% provide(:title, 'Home') %>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ChalkSpace | <%= yield(:title) %></title>
  </head>
  <body>
    
      <% if signed_in? %>
      <div class="row demo-samples" style="position:relative;left:-150px;bottom:0;">
        <div class="col-md-4">
           <div class="row demo-navigation" style="position:relative;left:10px;bottom:0;">
            <div class="col-md-6" >
              <div class="btn-toolbar" style="position:relative;left:23px;bottom:0;">
                <div class="btn-group">
                  <%= link_to academics_path,class:"btn btn-primary",name:"academics" do %><%= image_tag("icons/Mortarboard@2x.png", alt: "Rails", width:"30px",height:"22px",:data => {:toggle=>"tooltip",:tooltip=>{style:"inner"}},title:"Checkout your courses here") %><% end %>
                  <%= link_to image_tag("icons/Watches@2x.png", alt: "Rails", width:"22px",height:"22px",:data => {:toggle=>"tooltip",:tooltip=>{style:"inner"}},title:"Checkout your timetable here"),timetable_path,class:"btn btn-primary",name:"academics",value:"timetable" %>
                  <%= link_to image_tag("icons/Calendar@2x.png", alt: "Rails", width:"22px",height:"22px",:data => {:toggle=>"tooltip",:tooltip=>{style:"inner"}},title:"Checkout your schedule here"),"/calendar",class:"btn btn-primary",title:"Calender" %>
                  <%= link_to image_tag("icons/Clipboard@2x.png", alt: "Rails", width:"22px",height:"22px"),'#',class:"btn btn-primary" %>
                  <%= link_to image_tag("icons/Mail@2x.png", alt: "Rails", width:"21px",height:"22px",:data => {:toggle=>"tooltip",:tooltip=>{style:"inner"}},title:"Checkout your notices here"),root_path,class:"btn btn-primary active" %>
                  <%= link_to image_tag("icons/Graph@2x.png", alt: "Rails", width:"22px",height:"22px",:data => {:toggle=>"tooltip",:tooltip=>{style:"inner"}},title:"Checkout your Grades here"),analytics_path,class:"btn btn-primary" %>
                </div>
              </div>
          <div class="demo-col pull-left" style="position:relative;top:-10px;left:5px">
          <ul class="nav nav-list nav-list-vivid">
            <li class="nav-header">Notices</li>
            <li>
              <a href="#fakelink">
                Recent
              </a>
            </li>
            <li class="active">
              <a href="#fakelink">
                All
              </a>
            </li>
            <li>
              <a href="#fakelink">
                General
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#fakelink">
                Academic
              </a>
            </li>
            <li>
              <a href="#fakelink">
                Extra-Curricular
              </a>
            </li>
            <li class="nav-header">Messages</li>
            <li>
              <a href="#fakelink">
                Inbox
               <span class="nav-counter">19</span>
              </a>
            </li>
            <li>
              <a href="#fakelink">
                Outbox
              </a>
            </li>
         
          </ul>
        </div> <!-- /nav-list -->
      <div class="panel panel-primary" style="position:absolute;left:400px;top:50px;border-color:#dddddd">
         <div class="panel-heading"><span class="fui-list"></span>  Recent Notices</div>
            <ul class="list-group">
               <li class="list-group-item">Half Yearly Exams time table has been uploaded,please check your exams section</li>
               <li class="list-group-item">2nd October is a holiday on account of Gandhi Jayanthi</li>
               <li class="list-group-item">Our School won the best School Award for this year,cheers to all</li>
               <li class="list-group-item">We congratulate the cricket team of our team for winning the inter school tournament</li>
               <li class="list-group-item">Dassera Holidays from 10th October to 18th October</li>
            <div class="pagination" style="position:relative;left:120px;">
              <ul>
                <li class="previous"><a href="#fakelink" class="fui-arrow-left"></a></li>
                <li class="active"><a href="#fakelink">1</a></li>
                <li><a href="#fakelink">2</a></li>
                <li><a href="#fakelink">3</a></li>
                <li><a href="#fakelink">4</a></li>
                <li class="next"><a href="#fakelink" class="fui-arrow-right"></a></li>
              </ul>
            </div> <!-- /pagination -->
            </ul>
       </div> 
      <% else %>
      <div id="wrapper">
      <p align="center" style="color:#34495e"><strong style="font-size:30px;">Welcome to ChalkSpace</strong><br><strong>We are revolutionazing the way schools interact with students.Signup to see the demo of our beta product</strong></p>

     <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-success",style:"position:absolute;left:450px;top:20px" %>
     </div>
     <% end %>
<!--
      <div class="container">

        <div id="login-wraper">
            <form class="form login-form">
                <legend>Sign in to <span class="blue">ChalkSpace</span></legend>
            
                <div class="body">
                    <label>Username</label>
                    <input type="text" style="width:250px;">
                    
                    <label>Password</label>
                    <input type="password" style="width:250px;height:20000px;">
                </div>
            
                <div class="footer">
                    <button type="submit" class="btn btn-success">Login</button>
                </div>
            
            </form>
        </div>

    </div>
-->
  </body>
</html>
