<% provide(:title, 'Sign up') %>
<div class="container">
  <div id="login-wraper1">
    <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages' %>
    <legend>Sign up with <span class="blue">ChalkSpace</span></legend>
     <div class="body">
      <%= f.label :name %>
      <%= f.text_field :name ,style:"width:350px;"%>

      <%= f.label :email %>
      <%= f.text_field :email,style:"width:350px;" %>

      <%= f.label :password %>
      <%= f.password_field :password,style:"width:350px;" %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation,style:"width:350px;" %>
      </div>
      
      <div class="footer">
      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
