<%= form_for(@subject) do |f| %>
  <% if @subject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subject.errors.count, "error") %> prohibited this subject from being saved:</h2>

      <ul>
      <% @subject.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :school_id %><br>
    <%= f.text_field :school_id %>
  </div>
  <div class="field">
    <%= f.label :subject_id %><br>
    <%= f.text_field :subject_id %>
  </div>
  <div class="field">
    <%= f.label :subject_standard_id %><br>
    <%= f.text_field :subject_standard_id %>
  </div>
  <div class="field">
    <%= f.label :subject_name %><br>
    <%= f.text_field :subject_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
