<p id="notice"><%= notice %></p>

<p>
  <strong>School:</strong>
  <%= @subject.school_id %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @subject.subject_id %>
</p>

<p>
  <strong>Subject standard:</strong>
  <%= @subject.subject_standard_id %>
</p>

<p>
  <strong>Subject name:</strong>
  <%= @subject.subject_name %>
</p>

<%= link_to 'Edit', edit_subject_path(@subject) %> |
<%= link_to 'Back', subjects_path %>
