<h1>Listing tests</h1>

<table>
  <thead>
    <tr>
      <th>School</th>
      <th>Subject</th>
      <th>Test</th>
      <th>Test name</th>
      <th>Test total marks</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tests.each do |test| %>
      <tr>
        <td><%= test.school_id %></td>
        <td><%= test.subject_id %></td>
        <td><%= test.test_id %></td>
        <td><%= test.test_name %></td>
        <td><%= test.test_total_marks %></td>
        <td><%= link_to 'Show', test %></td>
        <td><%= link_to 'Edit', edit_test_path(test) %></td>
        <td><%= link_to 'Destroy', test, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Test', new_test_path %>
