<%= form_for(@standard) do |f| %>
  <% if @standard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@standard.errors.count, "error") %> prohibited this standard from being saved:</h2>

      <ul>
      <% @standard.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :standard_school_id %><br>
    <%= f.text_field :standard_school_id %>
  </div>
  <div class="field">
    <%= f.label :standard_id %><br>
    <%= f.text_field :standard_id %>
  </div>
  <div class="field">
    <%= f.label :standard_classteacher_id %><br>
    <%= f.text_field :standard_classteacher_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
