<h1>Listing standards</h1>

<table>
  <thead>
    <tr>
      <th>Standard school</th>
      <th>Standard</th>
      <th>Standard classteacher</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @standards.each do |standard| %>
      <tr>
        <td><%= standard.standard_school_id %></td>
        <td><%= standard.standard_id %></td>
        <td><%= standard.standard_classteacher_id %></td>
        <td><%= link_to 'Show', standard %></td>
        <td><%= link_to 'Edit', edit_standard_path(standard) %></td>
        <td><%= link_to 'Destroy', standard, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Standard', new_standard_path %>
