<p id="notice"><%= notice %></p>

<p>
  <strong>Standard school:</strong>
  <%= @standard.standard_school_id %>
</p>

<p>
  <strong>Standard:</strong>
  <%= @standard.standard_id %>
</p>

<p>
  <strong>Standard classteacher:</strong>
  <%= @standard.standard_classteacher_id %>
</p>

<%= link_to 'Edit', edit_standard_path(@standard) %> |
<%= link_to 'Back', standards_path %>
