<h1>Listing subjects</h1>

<table>
  <thead>
    <tr>
      <th>School</th>
      <th>Subject</th>
      <th>Subject standard</th>
      <th>Subject name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td><%= subject.school_id %></td>
        <td><%= subject.subject_id %></td>
        <td><%= subject.subject_standard_id %></td>
        <td><%= subject.subject_name %></td>
        <td><%= link_to 'Show', subject %></td>
        <td><%= link_to 'Edit', edit_subject_path(subject) %></td>
        <td><%= link_to 'Destroy', subject, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subject', new_subject_path %>
