<h1>Listing students</h1>

<table>
  <thead>
    <tr>
      <th>Student school</th>
      <th>Student standard</th>
      <th>Student</th>
      <th>Student name</th>
      <th>Student address</th>
      <th>Student city</th>
      <th>Student state</th>
      <th>Student phone</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.student_school_id %></td>
        <td><%= student.student_standard_id %></td>
        <td><%= student.student_id %></td>
        <td><%= student.student_name %></td>
        <td><%= student.student_address %></td>
        <td><%= student.student_city %></td>
        <td><%= student.student_state %></td>
        <td><%= student.student_phone %></td>
        <td><%= link_to 'Show', student %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student', new_student_path %>
