<h1>Listing teachers</h1>

<table>
  <thead>
    <tr>
      <th>Teacher school</th>
      <th>Teacher</th>
      <th>Teacher name</th>
      <th>Teacher address</th>
      <th>Teacher city</th>
      <th>Teacher state</th>
      <th>Teacher phone</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @teachers.each do |teacher| %>
      <tr>
        <td><%= teacher.teacher_school_id %></td>
        <td><%= teacher.teacher_id %></td>
        <td><%= teacher.teacher_name %></td>
        <td><%= teacher.teacher_address %></td>
        <td><%= teacher.teacher_city %></td>
        <td><%= teacher.teacher_state %></td>
        <td><%= teacher.teacher_phone %></td>
        <td><%= link_to 'Show', teacher %></td>
        <td><%= link_to 'Edit', edit_teacher_path(teacher) %></td>
        <td><%= link_to 'Destroy', teacher, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Teacher', new_teacher_path %>
