<p id="notice"><%= notice %></p>

<p>
  <strong>Teacher school:</strong>
  <%= @teacher.teacher_school_id %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @teacher.teacher_id %>
</p>

<p>
  <strong>Teacher name:</strong>
  <%= @teacher.teacher_name %>
</p>

<p>
  <strong>Teacher address:</strong>
  <%= @teacher.teacher_address %>
</p>

<p>
  <strong>Teacher city:</strong>
  <%= @teacher.teacher_city %>
</p>

<p>
  <strong>Teacher state:</strong>
  <%= @teacher.teacher_state %>
</p>

<p>
  <strong>Teacher phone:</strong>
  <%= @teacher.teacher_phone %>
</p>

<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
