<%= form_for(@teacher) do |f| %>
  <% if @teacher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@teacher.errors.count, "error") %> prohibited this teacher from being saved:</h2>

      <ul>
      <% @teacher.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :teacher_school_id %><br>
    <%= f.text_field :teacher_school_id %>
  </div>
  <div class="field">
    <%= f.label :teacher_id %><br>
    <%= f.text_field :teacher_id %>
  </div>
  <div class="field">
    <%= f.label :teacher_name %><br>
    <%= f.text_field :teacher_name %>
  </div>
  <div class="field">
    <%= f.label :teacher_address %><br>
    <%= f.text_area :teacher_address %>
  </div>
  <div class="field">
    <%= f.label :teacher_city %><br>
    <%= f.text_field :teacher_city %>
  </div>
  <div class="field">
    <%= f.label :teacher_state %><br>
    <%= f.text_field :teacher_state %>
  </div>
  <div class="field">
    <%= f.label :teacher_phone %><br>
    <%= f.text_field :teacher_phone %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
