<html>
  <head>
    <meta charset="utf-8">
    <title>ChalkSpace | <%= yield(:title) %></title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
 
  <body style="background-color:#fff">
    <% if !signed_in? %>
    <%= image_tag("background.png",alt:"full screen background image",id:"full-screen-background-image") %>
    <% end %>
     <div class="navbar navbar-inverse">
            <div class="navbar-inner">
              <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse-03">
                </button>
                <a href="#" class="brand">CHALKSPACE</a>
                <div class="nav-collapse collapse pull-right" id="nav-collapse-03" style="padding-right:30px;">
                  <ul class="nav">
                    <li><%= link_to "Home", root_path %></li>
                    <% if signed_in? %>
                    <li class="active">
                      <a href="#fakelink">
                       <%=   current_user.name    %>
                      </a>
                      <ul>
                        <li><%= link_to "My Profile", current_user %></li>
                        <li>
                          <%= link_to "Change Password",edit_user_path(current_user) %>
                        </li>
                        <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
                      </ul> <!-- /Sub menu -->
                    </li>
                   <% else %>
            <li class="active"><%= link_to "Sign in", signin_path %></li>
                    <% end %>
                    <li><%= link_to "About Us",about_path %></li>
                  </ul> <!-- /nav -->
                </div><!--/.nav-collapse -->
              </div>
            </div>
          </div> <!-- /navbar-inverse -->
    <div class="container">
      <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
    </div>
   </div>
  </body>
</html>
