<%= form_for(@school) do |f| %>
  <% if @school.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@school.errors.count, "error") %> prohibited this school from being saved:</h2>

      <ul>
      <% @school.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :school_id %><br>
    <%= f.text_field :school_id %>
  </div>
  <div class="field">
    <%= f.label :school_name %><br>
    <%= f.text_field :school_name %>
  </div>
  <div class="field">
    <%= f.label :school_address %><br>
    <%= f.text_area :school_address %>
  </div>
  <div class="field">
    <%= f.label :school_phone %><br>
    <%= f.text_field :school_phone %>
  </div>
  <div class="field">
    <%= f.label :school_head_id %><br>
    <%= f.text_field :school_head_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
