<p id="notice"><%= notice %></p>

<p>
  <strong>School:</strong>
  <%= @school.school_id %>
</p>

<p>
  <strong>School name:</strong>
  <%= @school.school_name %>
</p>

<p>
  <strong>School address:</strong>
  <%= @school.school_address %>
</p>

<p>
  <strong>School phone:</strong>
  <%= @school.school_phone %>
</p>

<p>
  <strong>School head:</strong>
  <%= @school.school_head_id %>
</p>

<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %>
