<h1>Listing schools</h1>

<table>
  <thead>
    <tr>
      <th>School</th>
      <th>School name</th>
      <th>School address</th>
      <th>School phone</th>
      <th>School head</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @schools.each do |school| %>
      <tr>
        <td><%= school.school_id %></td>
        <td><%= school.school_name %></td>
        <td><%= school.school_address %></td>
        <td><%= school.school_phone %></td>
        <td><%= school.school_head_id %></td>
        <td><%= link_to 'Show', school %></td>
        <td><%= link_to 'Edit', edit_school_path(school) %></td>
        <td><%= link_to 'Destroy', school, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New School', new_school_path %>
