<p id="notice"><%= notice %></p>

<p>
  <strong>School:</strong>
  <%= @test.school_id %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @test.subject_id %>
</p>

<p>
  <strong>Test:</strong>
  <%= @test.test_id %>
</p>

<p>
  <strong>Test name:</strong>
  <%= @test.test_name %>
</p>

<p>
  <strong>Test total marks:</strong>
  <%= @test.test_total_marks %>
</p>

<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
