<div style="position:absolute;left:300px;">
<p style="position:relative;top:57px"> <%= link_to image_tag("icons/Mortarboard@2x.png", alt: "Rails", width:"54px",height:"52px",:data => {:toggle=>"tooltip",:tooltip=>{style:"inner"}},title:"Checkout your Grades here"),"/notices",class:"btn btn-primary" %><br>
Academics </p>
<p style="position:relative;left:150px;top:-42px"> <%= link_to image_tag("icons/Calendar@2x.png", alt: "Rails", width:"46px",height:"40px",:data => {:toggle=>"tooltip",:tooltip=>{style:"inner"}},title:"Checkout your Grades here"),"/events",class:"btn btn-primary" %><br>
  Events </p>
<p style="position:relative;left:300px;top:-148px"> <%= link_to image_tag("icons/Dude@2x.png", alt: "Rails", width:"46px",height:"40px",:data => {:toggle=>"tooltip",:tooltip=>{style:"inner"}},title:"Checkout your Grades here"),"/master/students",class:"btn btn-primary" %><br>
  Students </p>
<p style="position:relative;left:450px;top:-254px"> <%= link_to image_tag("icons/Clipboard@2x.png", alt: "Rails", width:"48px",height:"52px",:data => {:toggle=>"tooltip",:tooltip=>{style:"inner"}},title:"Checkout your Grades here"),analytics_path,class:"btn btn-primary" %> <br>Attendence </p>
<p style="position:relative;left:600px;top:-362px"> <%= link_to image_tag("icons/Graph@2x.png", alt: "Rails", width:"48px",height:"52px",:data => {:toggle=>"tooltip",:tooltip=>{style:"inner"}},title:"Checkout your Grades here"),analytics_path,class:"btn btn-primary" %> <br> Grades </p>
<p style="position:relative;top:-300px"> <%= link_to image_tag("icons/Watches@2x.png", alt: "Rails", width:"48px",height:"52px",:data => {:toggle=>"tooltip",:tooltip=>{style:"inner"}},title:"Checkout your Grades here"),analytics_path,class:"btn btn-primary" %> <br> Timetable </p>
<p style="position:relative;left:150px;top:-408px"> <%= link_to image_tag("icons/Book@2x.png", alt: "Rails", width:"48px",height:"52px",:data => {:toggle=>"tooltip",:tooltip=>{style:"inner"}},title:"Checkout your Grades here"),analytics_path,class:"btn btn-primary" %> <br> Teachers </p>
<p style="position:relative;left:300px;top:-512px"> <%= link_to image_tag("icons/Money@2x.png", alt: "Rails", width:"52px",height:"80px",:data => {:toggle=>"tooltip",:tooltip=>{style:"inner"}},title:"Checkout your Grades here"),analytics_path,class:"btn btn-primary" %> <br> Finances </p>
<p style="position:relative;left:450px;top:-616px"> <%= link_to image_tag("icons/Spaceship@2x.png", alt: "Rails", width:"52px",height:"80px",:data => {:toggle=>"tooltip",:tooltip=>{style:"inner"}},title:"Checkout your Grades here"),analytics_path,class:"btn btn-primary" %> <br> Transport </p>
<p style="position:relative;left:600px;top:-726px"> <%= link_to image_tag("icons/Settings@2x.png", alt: "Rails", width:"52px",height:"80px",:data => {:toggle=>"tooltip",:tooltip=>{style:"inner"}},title:"Checkout your Grades here"),analytics_path,class:"btn btn-primary" %> <br> Settings </p>
</div>
