<% provide(:title, 'Students') %>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
   <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
   <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
     <title>ChalkSpace | <%= yield(:title) %></title>
  </head>
  <body>
    
      <div class="row demo-samples" style="position:relative;left:-150px;bottom:0;">
        <div class="col-md-4">
           <div class="row demo-navigation" style="position:relative;left:10px;bottom:0;">
            <div class="col-md-6" >
              <div class="btn-toolbar" style="position:relative;left:23px;bottom:0;">
                
              </div>
          <div class="demo-col pull-left" style="position:relative;top:-10px;left:5px">
          <ul class="nav nav-list nav-list-vivid">
            <li class="nav-header">Students</li>
            <li class="active" >
              <a href="#fakelink">
                1st Standard
              </a>
            </li>
            <li>
              <a href="<%= new_notice_path %>">
               2nd Standard
              </a>
            </li>
            <li>
              <a href="#fakelink">
                3rd Standard
              </a>
            </li>
            <li>
              <a href="#fakelink">
                4th Standard
              </a>
            </li>
            <li>
              <a href="#fakelink">
                5th Standard
              </a>
            </li>
            <li>
              <a href="#fakelink">
                6th Standard
              </a>
            </li>
            <li>
              <a href="#fakelink">
                7th Standard
              </a>
            </li>
          </ul>
        </div> <!-- /nav-list -->
    <div style="position:absolute;width:600px;height:450px;left:390px;top:10px;">
    <div class="container">
				<table class="table table-striped table-hover">
					<tr>
						<th>ID</th>
		 	 			<th>Name</th>
		 	 			<th>Phone Number</th>
		 	 		</tr>
						<% for student in @students %>
							<tr>
								<td><a class="btn btn-primary" data-toggle="collapse" data-target=<%="#rowforstud"+student.student_id%>> <%= student.student_id %></a></td>
								<td> <%= student.student_name%></td>
								<td> <%= student.student_phone %></td>
								
							</tr>
							<tr>
								<td style=";" colspan=4>
								      <div id=<%="rowforstud"+student.student_id%> class="collapse out">                                                                   Personal Information of marks and attendence
										
									</div> 
								</td>
							</tr>
						<% end %>
				</table>
			</div>
 </div>
</body>
</html>
