<%= form_for(@notice) do |f| %>
  <% if @notice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@notice.errors.count, "error") %> prohibited this notice from being saved:</h2>

      <ul>
      <% @notice.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :standard %><br>
    <%= f.text_field :standard %>
  </div>
  <label class="checkbox primary" for="checkbox5">
     <input type="checkbox" value="" id="checkbox5" data-toggle="checkbox">
           Send SMS
   </label>
  <label class="checkbox primary" for="checkbox5">
     <input type="checkbox" value="" id="checkbox5" data-toggle="checkbox">
           Send EMail
   </label>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
