<% provide(:title, 'Notices') %>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
   <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
   <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
     <title>ChalkSpace | <%= yield(:title) %></title>
  </head>
   <style>
  </style>
  <body>
    
      <div class="row demo-samples" style="position:relative;left:-150px;bottom:0;">
        <div class="col-md-4">
           <div class="row demo-navigation" style="position:relative;left:10px;bottom:0;">
            <div class="col-md-6" >
              <div class="btn-toolbar" style="position:relative;left:23px;bottom:0;">
                
              </div>
          <div class="demo-col pull-left" style="position:relative;top:-10px;left:5px">
          <ul class="nav nav-list nav-list-vivid">
            <li class="nav-header">Notices</li>
            <li class="active" >
              <a href="#fakelink">
                View All Notices
              </a>
            </li>
            <li>
              <a href="<%= new_notice_path %>">
                Add a new notice
              </a>
            </li>
            <li class="nav-header">Question Papers</li>
            <li>
              <a href="#fakelink">
                Upload a new Question Paper
              </a>
            </li>
            <li>
              <a href="#fakelink">
                View all Question papers
              </a>
            </li>
            <li class="divider"></li>
            <li class="nav-header">Study Material</li>
            <li>
              <a href="#fakelink">
                Upload Study material
              </a>
            </li>
            <li>
              <a href="#fakelink">
                View study material
              </a>
            </li>
            
          </ul>
        </div> <!-- /nav-list -->
    <div style="position:absolute;width:600px;height:450px;left:390px;top:10px;">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Standards</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @notices.each do |notice| %>
      <tr>
        <td><%= notice.title %></td>
        <td><%= notice.standard %></td>
        <td><%= link_to 'Show', notice %></td>
        <td><%= link_to 'Edit', edit_notice_path(notice) %></td>
        <td><%= link_to 'Destroy', notice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Notice', new_notice_path %>
</div>
</body>
</html>
